
* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #ffffff;
    --text-color: #000000;

    --container-width-lg: 80%;
    --container-width-md: 90%;

    --transition: all 500ms ease;
}